@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right bottom, #ecb9c2, #7aa6e2, #1c90f5);
  font-family: "Roboto Mono", monospace;
  overflow: hidden;
}

main {
  height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container{
  height: 25rem;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.container button{
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(50%, -50%);
  padding: .5rem;
  background-color: white;
  border: none;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
  color: #ed5656;
  cursor: pointer;
}

.pixel{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 3rem;
  background-image: linear-gradient(to right top, #fd9b9b, #fc7f7b, #ed5656);
  
}

.pixel h1{
  font-size: 1.8rem;
  font-weight: 400;
  color: white;
}

.input-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-container input{
  width: 12rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  color: white;
  font-size: 1.2rem;
  font-family: "Roboto Mono", monospace;
}

::placeholder{
  color: white;
}

.em{
  margin: 5rem auto;
  width: 12rem;
  border-bottom: 2px solid #ed5656;
}

.em p{
  font-size: 1.2rem;
  color: #ed5656;
}

